<section class="clearfix sobre">
    <div class="col-sm-6 col-md-6 col-lg-6 box-wrapper image">
        <img class="img-responsive" src="/images/sobre.jpg" />
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 box-wrapper text">
        <div class="clearfix">
            <div class="col-sm-12 col-md-12 col-lg-11 box-wrapper">
                <div class="box-title f60">
                    <h3 class="sp-font">A Panificadora</h3>
                    <img class="img-responsive" src="/images/ramo-preto.png" />
                </div>
                <div class="box-text">
                    <h3>Sobre Nós</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                        unde omnis iste natus error sit voluptatem accusantium.
                    </p>
                </div>
            </div>
            <div class="col-lg-1 box-wrapper"></div>
        </div>
    </div>
</section>

<section class="container delivery">
    <div class="row">
        <div class="col-sm-offset-1 col-md-offset-2 col-lg-offset-3 col-sm-10 col-md-8 col-lg-6 box-wrapper">
            <div class="box-title f60">
                <h3 class="sp-font">Delivery <img src="/images/delivery.svg" /></h3>
                <img class="img-responsive" src="/images/ramo-preto.png" />
            </div>
            <div class="box-text">
                <h3>Seja na empresa ou em sua casa, a Formosa vai até você.</h3>
                <p>
                    Nosso Delivery está a sua disposição todos os dias, seja no trabalho ou no conforto do seu lar,
                    conte com nossas delícias na sua porta.
                </p>
                <p>
                    São milhares de entregas realizadas todos os meses para pessoas como você que as vezes não podem
                    vir até aqui, mas, não abrem mão de saborear produtos feitos com muita dedicação e qualidade.
                </p>
                <p>
                    Fique tranquilo, nosso Delivery tem uma equipe dedicada para tratar seu pedido com muito carinho.
                    Você só precisa acessar nosso Cardápio, escolher tudo que deseja e nos enviar seu pedido.
                    Você poderá fazer isso através do formulário da própria página do seu produto preferido, por email,
                    ou por telefone.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="cardapio">

</section>

<section class="eventos">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-2 col-lg-offset-3 col-sm-10 col-md-8 col-lg-6 box-wrapper">
                <div class="box-title f60">
                    <h3 class="sp-font">Faça seu Evento</h3>
                    <img class="img-responsive" src="/images/ramo-branco.png" />
                </div>
                <div class="box-text">
                    <h3>Tudo para sua facilidade com os melhores produtos e qualidade.</h3>
                    <p>
                        Nosso Delivery está a sua disposição todos os dias, seja no trabalho ou no conforto do seu lar,
                        conte com nossas delícias na sua porta.
                    </p>
                    <p>
                        São milhares de entregas realizadas todos os meses para pessoas como você que as vezes não podem
                        vir até aqui, mas, não abrem mão de saborear produtos feitos com muita dedicação e qualidade.
                    </p>
                    <p>
                        Fique tranquilo, nosso Delivery tem uma equipe dedicada para tratar seu pedido com muito carinho.
                        Você só precisa acessar nosso Cardápio, escolher tudo que deseja e nos enviar seu pedido.
                        Você poderá fazer isso através do formulário da própria página do seu produto preferido, por email,
                        ou por telefone.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>