/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$branco:									#FFFFFF !default;
$preto:										#000000 !default;
$main_color:								#434343 !default;
$cor_destaque:								#ffb300 !default;
$cor_texto:									#6a6969 !default;
$background_color_footer:					#191919 !default;

// -------------------------
// Bootstrap Overrides
// -------------------------

/* ----- Typography ----- */

$superclarendon-light:		"Superclarendon", "Helvetica Neue", Helvetica, Arial, sans-serif;
$superclarendon-regular:	"Superclarendon Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$superclarendon-bold:		"Superclarendon Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$signpainter-regular:		"SignPainter-HouseScript Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$signpainter-bold:			"SignPainter-HouseScript SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$gotham-light:				"Gotham Light", "Helvetica Neue", Helvetica, Arial, sans-serif;